@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap");



body{

background-color:hsl(212, 45%, 89%);
font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box{

max-width: 275px;
background-color: hsl(0, 0%, 100%);
display: flex;
justify-content: center;
padding: 20px ;
border-radius: 15px;
flex-direction: column;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

}

img{

    max-width: 100%
    margin: auto;
    border-radius: 15px;
  
} 

h1{
    
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

p{
    font-size: 15px;
    text-align: center;
    margin:10px;
    font-weight: 400;
    color: hsl(210, 7%, 45%);
}






